.create-group-container {
  text-align: start;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  border: 1px solid #dddddd;
  margin-top: -30px;
}

.create-group-container h3 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
}

.create-group-container input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.create-group-btn {
  background-color: #4caf50;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

.create-group-btn:hover {
  background-color: #45a049;
}

.create-group-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.icon-button:disabled {
  color: #cccccc;
}

.group-list-container {
  text-align: start;
  background: white;
  padding: 1.5rem 2rem 2rem 2rem;
  border-radius: 8px;
  border: 1px solid #dddddd;
  margin-top: 20px;
}

.group-list-container h3 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 20px;
}

.group-card {
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 8px;
  border-left: 4px solid #428b51;
  position: relative;
  z-index: 5;
  margin-bottom: 10px;
}

.group-card h4 {
  font-size: 18px;
  font-weight: bold;
}
.group-card p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.group-card-body {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.icon-button {
  background-color: transparent;
  margin-left: 10px;
  padding: 0;
  border: none;
}

@media screen and (max-width: 768px) {
  .create-group-container {
    padding: 20px;
  }
  .group-list-container {
    padding: 20px;
  }
}

@media screen and (max-width: 440px) {
  .group-card-body {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}
