* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body { 
  font-family: Arial, sans-serif; 
  text-align: center;
}

/* Add these styles to your CSS file */
.react-datepicker-wrapper {
  width: auto;
}

.react-datepicker__input-container input {
  background-color: white;
}

.react-datepicker-popper {
  z-index: 40;
}

.react-datepicker {
  font-family: inherit;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
}

.react-datepicker__header {
  background-color: #f3f4f6;
  border-bottom: 1px solid #e5e7eb;
}

.react-datepicker__day--selected {
  background-color: #3b82f6;
}

.react-datepicker__day--keyboard-selected {
  background-color: #93c5fd;
}